body {
    text-align: center;
    width: auto;
    min-width: 200px;
}



.title {
    text-align: center;
    color: red;
    border: 3px black solid;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
}

#num,h1 {
    text-align: center;
}

.scale {
    position: relative;
    z-index: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
  }
  .scale:hover {
      z-index: 2;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
  .img {width:325px; height:280px; overflow:hidden }