<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Image test</title>
</head>
<body>
    <h1>제품 이미지 검색</h1>
    <form action="\" method="get" name="naverserch" id='num'>
        <label for="">품번이나 상품명을 입력 하세요</label><br>
        <input type="text" name="serch" placeholder="입력 하세요" size="8"><br>
        <label for="">이미지 갯수(기본 20장)</label><br>
        <input type="text" name="serch_num" value="20" size="1"><br>
        <button type="submit" id="button">검색 시작</button>
    </form>

    <div id='image_n'>
        
        <div class='title' >Naver <br>
            <div id='image'>
            {% for i in n_data %}
            <!-- {{i}}<br> -->
            <img src="{{i}}" alt=""  height="100">&nbsp;
            
            {% endfor %}
        </div>
        </div>
    </div>

    <div id='image_g'>
        
        <div class='title'>Google <br>
            <div id='image2'>
            {% for i in g_data %}
            <!-- {{i}}<br> -->
            <img src="{{i}}" alt=""  height="100">&nbsp;
            
            {% endfor %}
        </div>
        </div>
    </div>


</body>
</html>